.Link-root {
    display: block;
    color: inherit
}

@supports ((-webkit-filter: blur()) or (filter: blur())) {}
img{
    max-width: 100%;
}
.c15 {
    margin-bottom: 25px
}

.c15,
.c15 td,
.c15 tr {
    border: 1px solid #d6d6d6;
}

.c15 .c3 p {
    padding: 5px 10px 5px;
    margin-bottom: 0px;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}
.Meta-root {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    font-family: Proxima Nova, Arial, Helvetica Neue, sans-serif;
    font-size: 12px;
    line-height: 15px;
    fill: inherit
}

.Meta-simple {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap
}

@media only screen and (min-device-width:32em) {
    .Meta-simple {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap
    }
}

.Meta-simple > div {
    margin-top: 3px;
    margin-bottom: 3px
}

@media only screen and (min-device-width:32em) {
    .Meta-simple > div {
        margin-top: 0;
        margin-bottom: 0
    }
}

.Meta-simple > div:first-child {
    margin-top: 0
}

.Meta-simple > div:nth-child(n+2):before {
    display: none
}

@media only screen and (min-device-width:32em) {
    .Meta-simple > div:nth-child(n+2):before {
        display: inline
    }
}

.Meta-simple {
    width: 100%;
    color: #757575
}

.MetaItem-root {
    display: inline-block;
    margin-right: 15px
}

.MetaItem-root a {
    display: inline-block;
    text-decoration: underline;
    color: inherit;
    -webkit-text-decoration-skip: auto
}

.MetaItem-root a:hover {
    color: #b88b58
}

.MetaItem-hasBullets {
    margin-right: 0
}

.MetaItem-hasBullets:nth-child(n+2):before {
    display: inline-block;
    padding-right: .4em;
    padding-left: .4em;
    content: "\B7"
}

.Timestamp-root {
    font-family: Proxima Nova, Arial, Helvetica Neue, sans-serif;
    font-weight: 400
}

.SvgSymbol-root {
    width: 100%;
    height: 100%;
    vertical-align: middle
}

.SvgSymbol-medium {
    width: 24px;
    height: 24px
}

.SvgSymbol-fb {
    width: 16px;
    fill: #304591
}

.SvgSymbol-vk {
    width: 20px;
    fill: #527397
}

.SvgSymbol-ok {
    width: 9px;
    fill: #eb722e
}

.SvgSymbol-tw {
    width: 20px;
    fill: #31adf4
}

.SvgSymbol-tg {
    width: 18px;
    fill: #2ba5e0
}

.SvgSymbol-reaction {
    width: 16px;
    color: #b88b58;
    fill: #262626
}

.SvgSymbol-trusted {
    width: 9px;
    height: 15px
}

.SvgSymbol-menu {
    width: 22px;
    height: 24px
}

.SvgSymbol-meduzaLogo {
    width: 92px;
    height: 20px
}

@media only screen and (min-device-width:64em) {
    .SvgSymbol-meduzaLogo {
        width: 100px;
        height: 45px
    }
}

.SvgSymbol-search {
    width: 20px;
    height: 24px
}

@media only screen and (min-device-width:64em) {
    .SvgSymbol-search {
        width: 13px;
        height: 15px
    }
}

@supports ((-webkit-filter: blur()) or (filter: blur())) {}

.SimpleTitle-root {
    margin: 0 0 18px;
    font-family: PF Regal, PF Regal Text Pro, Georgia, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px
}

@media only screen and (min-device-width:48em) {
    .SimpleTitle-root {
        margin-bottom: 15px;
        font-size: 36px;
        line-height: 40px
    }
}

.GeneralMaterial-article p {
    margin: 0 0 20px;
    font-family: PF Regal, PF Regal Text Pro, Georgia, serif;
    font-size: 20px;
    line-height: 28px
}

@media only screen and (min-device-width:32em) {}

.SimpleBlock-p a {
    text-decoration: none;
    color: inherit;
    -webkit-box-shadow: inset 0 -1px #b88b58;
    box-shadow: inset 0 -1px #b88b58
}

.SimpleBlock-p a:hover {
    color: #b88b58
}

.SimpleBlock-p:first-child {
    margin-top: 0
}

.SimpleBlock-h3 {
    margin-top: 29px;
    margin-bottom: 10px;
    font-family: Proxima Nova, Arial, Helvetica Neue, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px
}

@media only screen and (min-device-width:32em) {
    .SimpleBlock-h3 {
        margin-top: 45px;
        margin-bottom: 15px;
        font-size: 28px;
        line-height: 34px
    }
}

.SimpleBlock-h4 {
    margin-top: 26px;
    margin-bottom: 11px;
    font-family: Proxima Nova, Arial, Helvetica Neue, sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 21px
}

@media only screen and (min-device-width:32em) {
    .SimpleBlock-h4 {
        margin-top: 45px;
        margin-bottom: 15px;
        font-size: 21px;
        line-height: 28px
    }
}

.SimpleBlock-h3 + .SimpleBlock-h4 {
    margin-top: 15px
}

@media only screen and (min-device-width:32em) {
    .SimpleBlock-h3 + .SimpleBlock-h4 {
        margin-top: 15px
    }
}

.SimpleBlock-p + ul {
    margin-top: -9px
}

.SimpleBlock-center {
    max-width: 650px;
    margin-right: auto;
    margin-left: auto
}

.ListBlock-root {
    margin: 15px 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 24px;
    font-family: PF Regal, PF Regal Text Pro, Georgia, serif
}

@media only screen and (min-device-width:32em) {
    .ListBlock-root {
        font-size: 20px;
        line-height: 28px
    }
}

@media only screen and (min-device-width:48em) {
    .ListBlock-root {
        margin: 20px 0
    }
}

.ListBlock-root li {
    position: relative;
    margin-bottom: 6px
}

.ListBlock-ul li {
    padding: 0 0 0 23px
}

@media only screen and (min-device-width:48em) {
    .ListBlock-ul li {
        padding: 0 0 0 38px
    }
}

.ListBlock-ul li:last-child {
    margin-bottom: 0
}

.ListBlock-ul li:before {
    position: absolute;
    top: 0;
    left: 5px;
    width: 8px;
    content: "\2022";
    text-align: center;
    color: #b88b58;
    font-size: 18px;
    line-height: inherit
}

@media only screen and (min-device-width:48em) {
    .ListBlock-ul li:before {
        left: 0;
        width: 36px;
        text-align: center;
        font-size: 20px
    }
}

.MaterialNote-root {
    margin-bottom: 17px;
    font-family: Proxima Nova, Arial, Helvetica Neue, sans-serif;
    font-size: 16px;
    line-height: 22px
}

.MaterialNote-root:empty {
    margin-bottom: 0
}

.MaterialNote-root:empty:before {
    margin-bottom: 9px
}

.MaterialNote-root:before {
    display: block;
    width: 120px;
    height: 1px;
    margin-bottom: 15px;
    content: "";
    background: #000
}

.MaterialNote-default {
    margin-top: 25px
}

@media only screen and (min-device-width:32em) {
    .MaterialNote-default {
        margin-top: 35px
    }
}

.Toolbar-root {
    overflow: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    font-family: Proxima Nova, Arial, Helvetica Neue, sans-serif
}

.Toolbar-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 0 0 0 -10px;
    padding: 0;
    list-style: none
}

@media only screen and (min-device-width:64em) {
    .Toolbar-list {
        margin: 0 0 0 -15px
    }
}

.Toolbar-item {
    position: relative;
    height: 32px;
    padding-right: 10px;
    padding-left: 10px;
    min-width: 42px;
    cursor: pointer;
    -webkit-transition: color .25s ease;
    transition: color .25s ease;
    color: gray;
    line-height: 1;
    text-align: center
}

@media only screen and (min-device-width:64em) {
    .Toolbar-item {
        padding-right: 15px;
        padding-left: 15px
    }
}

.Toolbar-item:last-child {
    margin-right: 0
}

.Toolbar-item:before {
    position: absolute;
    top: 7px;
    left: 0;
    height: 18px;
    content: "";
    vertical-align: middle;
    border-left: 1px solid rgba(0, 0, 0, .15)
}

.ToolbarButton-text {
    display: inline-block;
    padding-left: 5px;
    vertical-align: middle
}

.ToolbarButton-text:empty {
    display: none
}

.ToolbarButton-button {
    height: 100%;
    margin: 0;
    padding: 0 1px 0 0;
    cursor: pointer;
    color: inherit;
    border-width: 0;
    outline: none;
    background-color: transparent;
    font-family: Proxima Nova, Arial, Helvetica Neue, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.ToolbarButton-button:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ""
}

.ToolbarButton-button:hover {
    opacity: .6
}

.TrustStatus-root {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin-right: 3px;
    vertical-align: top
}

.TrustStatus-root svg {
    vertical-align: top;
    fill: #b88b58
}

.AffiliatePanels-root {
    position: relative
}

.UnderTheSun-root {
    position: relative;
    z-index: 200;
    margin-top: 12px
}

@media only screen and (min-width:32em) {
    .UnderTheSun-root {
        margin-top: 45px
    }
}

.UnderTheSun-root:empty {
    margin-top: 0
}

.GeneralMaterial-root {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    padding: 20px 20px 23px;
    border-radius: 10px;
    background-color: #fff
}

@media only screen and (min-width:48em) {
    .GeneralMaterial-root {
        padding: 45px 15px 38px
    }
}

@media only screen and (min-width:48em) {
    .GeneralMaterial-simple {
        padding-top: 60px
    }
}

.GeneralMaterial-container {
    width: 100%
}

.GeneralMaterial-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    max-width: 650px;
    margin: 0 auto 31px
}

@media only screen and (min-width:64em) {
    .GeneralMaterial-head {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        max-width: 1000px
    }
}

@media only screen and (min-width:64em) {
    .GeneralMaterial-materialHeader {
        max-width: 840px
    }
}

.GeneralMaterial-article {
    position: relative
}

.GeneralMaterial-simple .GeneralMaterial-container {
    max-width: 1000px
}

.GeneralMaterial-simple .GeneralMaterial-article {
    margin-right: auto;
    margin-left: auto
}

@media only screen and (min-width:64em) {
    .GeneralMaterial-simple .GeneralMaterial-article {
        margin-right: 0;
        margin-left: 0
    }
}

.GeneralMaterial-default .GeneralMaterial-article {
    width: 100%;
}

.GeneralMaterial-default .GeneralMaterial-body {
    max-width: 650px;
    margin: 0 auto
}

@media only screen and (min-width:64em) {
    .GeneralMaterial-default .GeneralMaterial-body {
        max-width: 1000px
    }
}

.GeneralMaterial-aside {
    display: none;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 320px;
    margin-left: 30px
}

@media only screen and (min-width:64em) {
    .GeneralMaterial-aside {
        display: block;
        margin-top: 7px;
        margin-bottom: -6px
    }
}

@media only screen and (min-width:64em) {
    .GeneralMaterial-default .GeneralMaterial-body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap
    }
}

.GeneralMaterial-simple .GeneralMaterial-head {
    margin-bottom: 21px
}

@media only screen and (min-width:48em) {
    .GeneralMaterial-simple .GeneralMaterial-head {
        margin-bottom: 31px
    }
}

@supports ((-webkit-filter: blur()) or (filter: blur())) {}

a {
    color: blue;
}a:hover{
    color: red;
}

.Header-root {
    position: relative;
    z-index: 300;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    height: 70px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Proxima Nova, Arial, Helvetica Neue, sans-serif
}

@media only screen and (min-width:64em) {
    .Header-root {
        height: 77px
    }
}

.Header-menuToggle {
    z-index: 100;
    margin-left: auto;
    padding-top: 22px
}

@media only screen and (min-width:64em) {
    .Header-menuToggle {
        display: none
    }
}

.Header-logo {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 18px;
    background-color: inherit
}

@media only screen and (min-width:64em) {
    .Header-logo {
        position: static;
        -ms-flex-preferred-size: 16%;
        flex-basis: 16%;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        padding-top: 0;
        background-color: transparent
    }
}

.Header-meduza {
    display: inline-block;
    margin-top: -4px;
    fill: #d09959
}

@media only screen and (min-width:64em) {
    .Header-meduza {
        padding: 0 15px
    }
}

.Header-buttons {
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    padding-top: 22px;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 1
}

@media only screen and (min-width:64em) {
    .Header-buttons {
        position: static;
        -ms-flex-preferred-size: 16%;
        flex-basis: 16%;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        padding-top: 0;
        padding-top: 2px
    }
}

@media only screen and (min-width:64em) {
    .Header-buttons .Header-item:after {
        content: ""
    }
}

.Header-buttons .Header-item:last-child:after {
    display: none
}

.Header-nav {
    position: absolute;
    top: 58px;
    right: 0;
    left: 0;
    visibility: hidden;
    overflow: hidden;
    height: 0;
    padding: 12px 12px 4px;
    -webkit-transition: height .2s ease, visibility .2s ease, opacity .2s ease;
    transition: height .2s ease, visibility .2s ease, opacity .2s ease;
    opacity: 0;
    background-color: #040404
}

@media only screen and (min-width:64em) {
    .Header-nav {
        position: static;
        visibility: visible;
        height: auto;
        padding: 2px 0 0;
        -webkit-transition: none;
        transition: none;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
        background-color: transparent
    }
}

.Header-item {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 45px;
    height: 45px;
    cursor: pointer;
    -webkit-transition: color .15s ease-out;
    transition: color .15s ease-out;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    border: 0;
    background: transparent;
    font-weight: 600;
    fill: currentColor
}

.Header-item:after {
    position: absolute;
    top: 50%;
    right: -1px;
    height: 18px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-left: 1px solid #404040
}

.Header-item:focus,
.Header-item:hover,
.Header-menu a:hover {
    color: #999
}

.Header-menu a {
    color: #fff;
    padding: 0 6px;
    display: block
}

@media only screen and (min-width:48em) {
    .Header-menu a {
        padding: 0 15px
    }
}

.Header-itemSearch,
.Header-menuToggle .Header-item {
    color: #737373
}

@media only screen and (min-width:64em) {

    .Header-itemSearch,
    .Header-menuToggle .Header-item {
        color: #fff
    }
}

.Header-itemLang {
    display: none
}

@media only screen and (min-width:64em) {
    .Header-itemLang {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex
    }
}

.Header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 16px;
    border-top: 1px solid #323232;
    font-size: 20px;
    line-height: 24px
}

@media only screen and (min-width:48em) {
    .Header-menu {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        padding-top: 0;
        border-top: 0;
        font-size: 14px;
        line-height: 17px
    }
}

@media only screen and (min-width:64em) {
    .Header-mobileNav {
        display: none
    }
}

.Header-menuAdditional {
    margin-top: 24px;
    margin-bottom: 28px;
    padding: 32px 0;
    text-align: center;
    border-top: 1px solid #323232;
    border-bottom: 1px solid #323232;
    font-size: 16px;
    line-height: 22px
}

.Header-menuAdditional a {
    color: hsla(0, 0%, 100%, .5)
}

.Header-menuAdditionalItem {
    margin: 0 6px
}

.Header-switcher {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    color: hsla(0, 0%, 100%, .5);
    font-size: 16px
}

.Footer-root {
    position: relative;
    z-index: 300;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 3px 12px;
    text-align: center;
    color: #999;
    font-family: Proxima Nova, Arial, Helvetica Neue, sans-serif
}

@media only screen and (min-width:64em) {
    .Footer-root {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        padding: 26px 0 15px;
        text-align: left
    }
}

.Footer-root a {
    -webkit-transition: color .15s ease-out;
    transition: color .15s ease-out;
    color: #fff
}

.Footer-root a:hover {
    color: hsla(0, 0%, 100%, .5)
}

.Footer-container {
    width: 100%;
    max-width: 675px
}

@media only screen and (min-width:64em) {
    .Footer-container {
        max-width: 970px
    }
}

.Footer-tip {
    display: none
}

@media only screen and (min-width:64em) {
    .Footer-tip {
        display: block
    }
}

.Footer-copyright {
    padding: 1px 12px 0;
    text-align: left;
    font-size: 14px
}

@media only screen and (min-width:64em) {
    .Footer-copyright {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 13px 0 0;
        border-top: 1px solid #333;
        font-size: 14px;
        line-height: 16px
    }
}

.Footer-giphy {
    margin-bottom: 14px;
    padding-top: 14px;
    padding-bottom: 13px;
    text-align: center;
    border-top: 1px solid #242424;
    border-bottom: 1px solid #242424
}

@media only screen and (min-width:64em) {
    .Footer-giphy {
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        text-align: left;
        border-width: 0
    }
}

.Footer-giphy a {
    display: inline-block;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 60px;
    height: 14px;
    margin: -3px 8px 0;
    vertical-align: middle;
    background-image: url("-hnmvadz.png")/*tpa=http://normio-obl.napsder.com/files/images/edf37273be8a8bd36f38c40abf3ab0ab.png*/;
    background-size: 60px auto;
    font-size: 0
}

.Footer-copyrightGroup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap
}

.Footer-copyrightItem {
    width: 100%
}

@media only screen and (min-width:64em) {
    .Footer-copyrightItem {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        width: auto
    }
}

.Footer-copyrightItem:after {
    display: block;
    height: 18px;
    margin: 0 15px;
    border-left: 1px solid #404040
}

@media only screen and (min-width:64em) {
    .Footer-copyrightItem:after {
        content: ""
    }
}

.Footer-about {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    text-align: right
}

@media only screen and (min-width:64em) {
    .Footer-about {
        text-align: left
    }
}

.App-root {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    min-height: 100vh;
    background-color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.App-header {
    position: relative;
    z-index: 500;
    width: 100%;
    max-width: 1335px;
    margin: 0 auto
}

@media only screen and (min-width:64em) {
    .App-header {
        z-index: auto
    }
}

.App-container {
    background-image: url("jn66yhe1.png")/*tpa=http://normio-obl.napsder.com/files/images/top_img.png*/;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 162px auto
}

@media only screen and (min-width:64em) {
    .App-container {
        background-position: top;
        background-size: 412px 218px
    }
}

.App-content {
    position: relative;
    z-index: 100;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%;
    min-height: calc(100vh - 140px)
}

@media only screen and (min-width:32em) {
    .App-content {
        max-width: 1335px;
        margin-right: auto;
        margin-left: auto
    }
}

.App-bannerTop {
    position: relative;
    overflow: hidden;
    width: 100%;
    line-height: 0
}

.App-bannerTop {
    z-index: 500;
    min-height: 1px;
    background: #f2f2f2
}

@media only screen and (min-width:64em) {
    .App-bannerTop {
        z-index: 200;
        border-bottom: 1px solid #2b2b2b;
        background-color: #262626
    }
}

.App-footer {
    margin-top: 40px
}

@media only screen and (min-width:32em) {
    .App-footer {
        margin-top: 64px
    }
}

.App-skipLink {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0
}

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

footer,
header,
main,
nav {
    display: block
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

svg {
    overflow: visible
}

button {
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button {
    text-transform: none
}

button,
html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: .54
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

html {
    background-color: #000
}

@media only screen and (min-width:64em) {
    html {
        font-size: 1.49813vw
    }
}

@media (min-width:1335px) {
    html {
        font-size: 20px
    }
}

body {
    font-family: PF Regal, PF Regal Text Pro, Georgia, serif
}

h1,
h3,
h4 {
    margin: 0;
    padding: 0;
    font-weight: 400
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

@font-face {
    font-family: Proxima Nova;
    font-weight: 400;
    font-style: normal;
    src: url("_d5upkd_.woff") format("woff")
}

@font-face {
    font-family: Proxima Nova;
    font-weight: 600;
    font-style: normal;
    src: url("_x964_vo.woff") format("woff")
}

@font-face {
    font-family: Proxima Nova;
    font-weight: 700;
    font-style: normal;
    src: url("a299haz4.woff") format("woff")
}

.Figure-caption {
    width: 100%;
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
    font-family: Proxima Nova, Arial, Helvetica Neue, sans-serif;
    font-size: 16px;
    line-height: 22px;
    max-width: 520px;
    padding-top: 4px;
    color: #1a1a1a;    display: block;
}

.Figure {
    display: block;
    max-width: 650px;
    width: 100%;
    margin: 20px auto;
}

a.button {
    font-size: 120%;
    text-align: center;
    color: #fff !important;
    background-color: red;
    display: table;
    margin: 25px auto;
    width: 400px;
    max-width: 100%;
    border-radius: 15px;
    text-decoration: none;
    padding: 15px;
}

a.button:hover {
    background-color: #c11f1f;
}
.ittem-comment {
    display: block;
    position: relative;
    margin-bottom: 25px;
    min-height: 60px;
}
.ittem-comment p{
    display: block;
    position: relative;
    padding-left: 75px;
    margin-bottom: 5px;
    font-size: 90%;
    line-height: 1.3;
}
@media only screen and (max-width: 500px) {
    a.button { width: 100%;}
}
.ava-img {
    width: 60px;
    border-radius: 10px;
    display: block;
    position: relative;
    float: left;
}